@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 241, 245, 249;
  --background-rgb: 2, 6, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
